[domain/gb.sportingindex.com]
id_provider = ldap
cache_credentials = False
ldap_uri = ldap://gb.sportingindex.com:389
ldap_schema = AD
ldap_default_bind_dn = cn=svc_linuxdomain,OU=Service Accounts,OU=SpinUsers,DC=gb,DC=sportingindex,DC=com
ldap_default_authtok = FV^8eZwGZ=bSWMS@xRx8
ldap_default_authtok_type = password
ldap_id_mapping = True
ldap_referrals = false
enumerate = False
access_provider = ldap
fallback_homedir = /home/%u
default_shell = /bin/bash
ldap_search_base = DC=gb,DC=sportingindex,DC=com
ldap_user_search_base = OU=SpinUsers,DC=gb,DC=sportingindex,DC=com
ldap_access_filter = memberOf=CN=Linux_Users,OU=SpinGroups,DC=gb,DC=sportingindex,DC=com
ldap_user_extra_attrs = altSecurityIdentities:altSecurityIdentities
ldap_user_ssh_public_key = altSecurityIdentities
ldap_use_tokengroups = True
[sssd]
config_file_version = 2
services = nss, pam, ssh
domains = gb.sportingindex.com
[nss]
filter_users = nobody,root,mdaops,rabbitmq,postfix,apache,redis,nagios,tcpdump
filter_groups = nobody,root,mdaops,rabbitmq,postfix,apache,redis,nagios,tcpdump
[pam]
offline_credentials_expiration = 7